<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qartf.doseforreddit">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SplashActivity"
                  android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.token.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.comment.CommentsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.token.MainActivity"/>
        <activity
            android:name=".ui.submit.SubmitActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.token.MainActivity"/>
        <activity
            android:name=".ui.contentView.LinkActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.token.MainActivity"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="www.example.com"
                    android:path="/unused/redirect/uri"
                    android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.contentView.VideoActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.token.MainActivity"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".ui.contentView.ImageActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.token.MainActivity"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".ui.contentView.SelfActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.token.MainActivity"
            android:theme="@style/Theme.AppCompat.Translucent"/>

        <provider
            android:name=".data.database.DatabaseProvider"
            android:authorities="com.qartf.doseforreddit"
            android:exported="true"/>

        <receiver android:name=".ui.widget.RedditWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/reddit_app_widget_info"/>
        </receiver>

        <service android:name=".ui.widget.RedditWidgetService"/>

        <service
            android:name=".ui.widget.GridWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>